<h5>Connections</h5>

<button class="btn btn-secondary btn-xs" id="add-connection" data-bs-toggle="modal" data-bs-target="#add-connection-modal" style="margin-bottom:20px; margin-right:150px;"><i class="fa-solid fa-plus"></i></button>

<div id="connection-holder"></div>

<div class="modal fade" id="add-connection-modal" tabindex="-1" aria-labelledby="add-connection-modal-label" aria-hidden="true">
  <div class="modal-dialog text-dark">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title" id="add-connection-modal-label">Add connection</h6>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="add-connection-name" class="form-label">Connection name</label>
          <input type="text" class="form-control" id="add-connection-name">
        </div>
        <div class="mb-3">
          <label for="add-connection-string" class="form-label">Connection string</label>
          <input type="text" class="form-control" id="add-connection-string" aria-describedby="connection-string-help">
          <div id="connection-string-help" class="form-text">Azure Service Bus connection string</div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button id="add-connection-confirm" type="button" class="btn btn-primary">Save connection</button>
      </div>
    </div>
  </div>
</div>

{% block bodyEnd %}
  <script src="../js/connections.js"></script>
{% endblock %}
